/* start variables */
:root {
  --main-color: #2196f3;
  --main-color-hover: #1787e0;
  --para-color: #666;
  --section-background: #ececec;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-transition: 0.3s;
  --second-transition: 0.5s;
}
/* end variables */

/* ----------------------------------------------------------------------------- */

/* start global rules */

* {
  font-family: 'Cairo', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small screen */

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* larg screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* --------------------------------------------------------------- */

/* start header */

header {
  background-color: #fff;
  box-shadow: 0px -4px 13px -2px black;
  z-index: 5000;
}

header .container .contnet {
  display: flex;
  justify-content: space-between;
}

header .container .contnet .logo {
  padding: 20px 0;
  cursor: pointer;
}

header .container .contnet .logo p {
  font-size: 30px;
  font-weight: 900;
  color: var(--para-color);
}

header .container .contnet .logo p span {
  font-weight: 900;
  color: var(--main-color);
}

header .container .main-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header .container .main-nav .nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: all var(--second-transition) ease;
  position: relative;
}

header .container .main-nav .nav:hover {
  background-color: #fafafa;
}

header .container .main-nav .nav::before {
  content: '';
  width: 0;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color-hover);
  transition: all var(--second-transition) ease;
}

header .container .main-nav .nav:hover::before {
  width: 100%;
}

header .container .main-nav .nav:hover .nav-links {
  color: var(--main-color-hover);
}

header .container .main-nav .nav .nav-links {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all var(--main-transition) ease;
}

header .container .main-nav .nav:last-child {
  position: relative;
}


header .container .main-nav .nav:last-child .container {
  position: absolute;
  top: 100px;
  right: -15px;
  display: flex;
  background-color: #fafafa;
  border-bottom: 5px solid var(--main-color-hover);
  z-index: 100;
  justify-content: space-between;
  padding: 40px 20px;
  opacity: 0;
  transition: all var(--second-transition) ease;
  pointer-events: none;
}

header .container .main-nav .nav:last-child:hover .container {
  top: 78px;
  opacity: 1;
  pointer-events: painted;
}

header .container .main-nav .nav:last-child .container .image-menu img {
  width: 90%;
}

header .container .main-nav .nav:last-child .container .menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

header .container .main-nav .nav:last-child .container .menu .cards {
  width: 45%;
}

header .container .main-nav .nav:last-child .menu .cards li {
  width: 100%;
  padding: 15px;
  position: relative;
}

header .container .main-nav .menu .cards li::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #eeeeee94;
  transition: all var(--main-transition) ease;
}

header .container .main-nav .nav:last-child .menu .cards li:hover:before {
  width: 100%;
}

header .container .main-nav .nav:last-child li:not(li:last-child) {
  border-bottom: 1px solid #d8d7d7;
}

header .container .main-nav .nav:last-child .cards li a {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--main-color);
}

header .container .main-nav .nav:last-child .menu .cards li i {
  margin-right: 10px;
}

@media (max-width: 991px) {
  header .container .main-nav .nav:last-child .container .image-menu {
    display: none;
  }

  header .container .main-nav .nav:last-child .container .menu {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  header .container .contnet {
    flex-direction: column;
    align-items: center;
  }

  header .container .contnet .logo {
    padding: 10px 0;
  }

  header .container .contnet .logo p {
    font-size: 30px;
  }

  header .container .main-nav .nav {
    padding: 10px 10px 20px 10px;
  }

  header .container .main-nav .nav::before {
    height: 1.5px;
  }

  header .container .main-nav .nav .nav-links {
    font-size: 15px;
  }

  header .container .main-nav .nav:last-child .container {
    position: absolute;
    top: 60px;
    right: -36.05px;
    width: 372.38px;
  }

  header .container .main-nav .nav:last-child:hover .container {
    top: 48px;
  }

  header .main-nav .nav:last-child .container img {
    display: none;
  }

  header .container .main-nav .nav:last-child .container .menu {
    flex-basis: 100%;
  }

  header .container .main-nav .nav:last-child .container {
    padding: 0;
  }

  header .container .main-nav .nav:last-child .menu {
    flex-direction: column;
  }

  header .container .main-nav .nav:last-child .container .menu .cards {
    width: 100%;
    border-bottom: 1px solid #d8d7d7;
  }
}

@media (max-width: 500px) {
  header .container .main-nav .nav:last-child .container {
    position: absolute;
    top: 60px;
    right: -36.05px;
    width: 300.27px;
  }

  header .container .main-nav .nav:last-child:hover .container {
    top: 45px;
  }
}

/* end header */

/* ----------------------------------------------------------------------------------- */

/* start landing */

.landing {
  height: calc(100vh - 80.25px);
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}


.landing .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.landing .container .text {
  height: 100%;
  padding-top: 100px;
}

.landing .container .text h3 {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 20px;
}


.landing .container .text h3 span {
  font-size: 50px;
  color: var(--main-color);
  letter-spacing: -1px;
  display: block;
}

.landing .container .text p {
  font-size: 23px;
  font-weight: 500;
  color: var(--para-color);
  line-height: 1.8;
  letter-spacing: 0.3px;
}


.landing .container .image {
  height: 100%;
}


.landing .container .image .landing-img {
  width: 600px;
  position: relative;
  top: 40px;
  right: -30px;
  animation: move-img linear 2s infinite alternate;
}


@keyframes move-img {
  from {
    top: 30px;
  }
  to {
    top: -20px;
  }
}

.landing .icon i {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  font-size: 30px;
  color: var(--main-color);
  animation: move-arrow ease-in-out 2s infinite alternate;
}

@keyframes move-arrow {
  0% {
    bottom: 20px;
  }
  20% {
    bottom: 20px;
  }
  40% {
    bottom: 40px;
  }
  50% {
    bottom: 20px;
  }
  60% {
    bottom: 40px;
  }
  80% {
    bottom: 20px;
  }
  100% {
    bottom: 20px;
  }
}

@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }

  .landing .container .text h3, 
  .landing .container .text p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 102px);
  }

  .landing .container .text p {
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
  }

  .landing .container .text h3 span {
    font-size: 40px;
  }

  .landing .container .text h3 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  header .container .main-nav .nav {
    padding: 10px 6px 20px 6px;
  }
  header .container .main-nav .nav .nav-links {
    font-size: 12px;
    font-weight: 700;
  }
  header .container .main-nav .nav:last-child .container .menu {
    padding-left: 25px;
  }
}

/* end landing */

/* --------------------------------------------------------------------------------------------- */

/* start compenent */

.compenent{
  padding-top: 80px;
  padding-bottom: 80px;
}

.compenent h3 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.compenent h3:hover {
  transition-delay: 0.6s;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0);
}

.compenent h3::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #1787e0;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.compenent h3::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #1787e0;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.compenent h3:hover::before {
  animation: motion-before 0.6s ease-in-out 1 normal;
  animation-fill-mode: forwards;
}

.compenent h3:hover::after {
  animation: motion-after 0.6s ease-in-out 1 normal;
  animation-fill-mode: forwards;
}

@keyframes motion-before {
  0% {
    width: 15px;
    height: 15px;
    left: -30px;
    top: 50%;
    border-radius: 50%;
  }
  40% {
    width: 15px;
    height: 15px;
    left: 0;
    top: 50%;
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    top: 50%;
    border-radius: 0;
  }
}

@keyframes motion-after {
  0% {
    width: 15px;
    height: 15px;
    right: -30px;
    top: 50%;
    border-radius: 50%;
  }
  40% {
    width: 15px;
    height: 15px;
    right: 0;
    top: 50%;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    top: 50%;
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  .compenent h3 {
    font-size: 25px;
    padding: 5px 10px;
  }
}


/* end compenent */

/* ------------------------------------------------------------------------------------ */

/* start articles */



/* end articles */