/* start variables */
:root {
  --main-color: #2196f3;
  --main-color-hover: #1787e0;
  --para-color: #666;
  --section-background: #ececec;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-transition: 0.3s;
  --second-transition: 0.5s;
  --padding-top: 80px;
  --padding-bottom: 80px;

}
/* end variables */

/* ----------------------------------------------------------------------------- */

/* start global rules */

* {
  font-family: 'Cairo', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small screen */

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* larg screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* --------------------------------------------------------------- */

/* start header */

header {
  background-color: #fff;
  box-shadow: 0px -4px 13px -2px black;
  z-index: 5000;
}

header .container .contnet {
  display: flex;
  justify-content: space-between;
}

header .container .contnet .logo {
  padding: 20px 0;
  cursor: pointer;
}

header .container .contnet .logo p {
  font-size: 30px;
  font-weight: 900;
  color: var(--para-color);
}

header .container .contnet .logo p span {
  font-weight: 900;
  color: var(--main-color);
}

header .container .main-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header .container .main-nav .nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: all var(--second-transition) ease;
  position: relative;
}

header .container .main-nav .nav:hover {
  background-color: #fafafa;
}

header .container .main-nav .nav::before {
  content: '';
  width: 0;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color-hover);
  transition: all var(--second-transition) ease;
}

header .container .main-nav .nav:hover::before {
  width: 100%;
}

header .container .main-nav .nav:hover .nav-links {
  color: var(--main-color-hover);
}

header .container .main-nav .nav .nav-links {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all var(--main-transition) ease;
}

header .container .main-nav .nav:last-child {
  position: relative;
}


header .container .main-nav .nav:last-child .container {
  position: absolute;
  top: 100px;
  right: -15px;
  display: flex;
  background-color: #fafafa;
  border-bottom: 5px solid var(--main-color-hover);
  z-index: 100;
  justify-content: space-between;
  padding: 40px 20px;
  opacity: 0;
  transition: all var(--second-transition) ease;
  pointer-events: none;
}

header .container .main-nav .nav:last-child:hover .container {
  top: 78px;
  opacity: 1;
  pointer-events: painted;
}

header .container .main-nav .nav:last-child .container .image-menu img {
  width: 90%;
}

header .container .main-nav .nav:last-child .container .menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

header .container .main-nav .nav:last-child .container .menu .cards {
  width: 45%;
}

header .container .main-nav .nav:last-child .menu .cards li {
  width: 100%;
  padding: 15px;
  position: relative;
}

header .container .main-nav .menu .cards li::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #eeeeee94;
  transition: all var(--main-transition) ease;
}

header .container .main-nav .nav:last-child .menu .cards li:hover:before {
  width: 100%;
}

header .container .main-nav .nav:last-child li:not(li:last-child) {
  border-bottom: 1px solid #d8d7d7;
}

header .container .main-nav .nav:last-child .cards li a {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--main-color);
}

header .container .main-nav .nav:last-child .menu .cards li i {
  margin-right: 10px;
}

@media (max-width: 991px) {
  header .container .main-nav .nav:last-child .container .image-menu {
    display: none;
  }

  header .container .main-nav .nav:last-child .container .menu {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  header .container .contnet {
    flex-direction: column;
    align-items: center;
  }

  header .container .contnet .logo {
    padding: 10px 0;
  }

  header .container .contnet .logo p {
    font-size: 30px;
  }

  header .container .main-nav .nav {
    padding: 10px 10px 20px 10px;
  }

  header .container .main-nav .nav::before {
    height: 1.5px;
  }

  header .container .main-nav .nav .nav-links {
    font-size: 15px;
  }

  header .container .main-nav .nav:last-child .container {
    position: absolute;
    top: 60px;
    right: -36.05px;
    width: 372.38px;
  }

  header .container .main-nav .nav:last-child:hover .container {
    top: 48px;
  }

  header .main-nav .nav:last-child .container img {
    display: none;
  }

  header .container .main-nav .nav:last-child .container .menu {
    flex-basis: 100%;
  }

  header .container .main-nav .nav:last-child .container {
    padding: 0;
  }

  header .container .main-nav .nav:last-child .menu {
    flex-direction: column;
  }

  header .container .main-nav .nav:last-child .container .menu .cards {
    width: 100%;
    border-bottom: 1px solid #d8d7d7;
  }
}

@media (max-width: 500px) {
  header .container .main-nav .nav:last-child .container {
    position: absolute;
    top: 60px;
    right: -36.05px;
    width: 300.27px;
  }

  header .container .main-nav .nav:last-child:hover .container {
    top: 45px;
  }
}

/* end header */

/* ----------------------------------------------------------------------------------- */

/* start landing */

.landing {
  height: calc(100vh - 80.25px);
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}


.landing .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.landing .container .text {
    height: 100%;
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.landing .container .text h3 {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 20px;
}


.landing .container .text h3 span {
  font-size: 50px;
  color: var(--main-color);
  letter-spacing: -1px;
  display: block;
}

.landing .container .text p {
  font-size: 23px;
  font-weight: 500;
  color: var(--para-color);
  line-height: 1.8;
  letter-spacing: 0.3px;
}


.landing .container .image {
  height: 100%;
  display: contents;
}


.landing .container .image .landing-img {
  width: 600px;
  position: relative;
  top: 40px;
  right: -30px;
  animation: move-img linear 2s infinite alternate;
}


@keyframes move-img {
  from {
    top: 30px;
  }
  to {
    top: -20px;
  }
}

.landing .icon i {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  font-size: 30px;
  color: var(--main-color);
  animation: move-arrow ease-in-out 2s infinite alternate;
}

@keyframes move-arrow {
  0% {
    bottom: 20px;
  }
  20% {
    bottom: 20px;
  }
  40% {
    bottom: 40px;
  }
  50% {
    bottom: 20px;
  }
  60% {
    bottom: 40px;
  }
  80% {
    bottom: 20px;
  }
  100% {
    bottom: 20px;
  }
}

@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }

  .landing .container .text h3, 
  .landing .container .text p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 102px);
  }

  .landing .container .text p {
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
  }

  .landing .container .text h3 span {
    font-size: 40px;
  }

  .landing .container .text h3 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  header .container .main-nav .nav {
    padding: 10px 6px 20px 6px;
  }
  header .container .main-nav .nav .nav-links {
    font-size: 12px;
    font-weight: 700;
  }
  header .container .main-nav .nav:last-child .container .menu {
    padding-left: 25px;
  }
}

/* end landing */

/* --------------------------------------------------------------------------------------------- */

/* start compenent */

.compenent{
  padding-bottom: 100px;
}

.compenent h3 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  z-index: 2;
}

.compenent h3:hover {
  transition-delay: 0.4s;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0);
}

.compenent h3::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #1787e0;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.compenent h3::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #1787e0;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.compenent h3:hover::before {
  animation: motion-before 0.6s ease-in-out 1 normal;
  animation-fill-mode: forwards;
}

.compenent h3:hover::after {
  animation: motion-after 0.6s ease-in-out 1 normal;
  animation-fill-mode: forwards;
}

@keyframes motion-before {
  0% {
    width: 15px;
    height: 15px;
    left: -30px;
    top: 50%;
    border-radius: 50%;
  }
  40% {
    width: 15px;
    height: 15px;
    left: 0;
    top: 50%;
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 55%;
    height: 100%;
    top: 50%;
    border-radius: 0;
  }
}

@keyframes motion-after {
  0% {
    width: 15px;
    height: 15px;
    right: -30px;
    top: 50%;
    border-radius: 50%;
  }
  40% {
    width: 15px;
    height: 15px;
    right: 0;
    top: 50%;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 55%;
    height: 100%;
    top: 50%;
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  .compenent h3 {
    font-size: 25px;
    padding: 5px 10px;
  }
}


/* this is Spikes -------------------------------- */




.spikes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg , white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 35px 35px;
}


/* end compenent */

/* ------------------------------------------------------------------------------------ */

/* start articles */

.articles {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.articles .holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding: 0 15px 80px;
}

@media (max-width: 991px) {
  .articles .holder {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .articles .holder {
    grid-template-columns: repeat(auto-fit, minmax(45%, auto));
    padding: 0 80px;
    gap: 50px;
  }
}
@media (max-width: 706px) {
  .articles .holder {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
  }
}

.articles .holder .card{
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 3px 8px -4px black;
  transform: translate(0);
  transition: all var(--main-transition) ease;
  background-color: white;
}

.articles .holder .card:hover {
  transform: translate(0, -15px);
  box-shadow: 0px 6px 15px -4px black;
}

.articles .holder .card .image img {
  width: 100%;
}

.articles .holder .card .text-card {
  padding: 20px;
}

.articles .holder .card .text-card h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.articles .holder .card .text-card p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--para-color);
}

.articles .holder .card .footer-card {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #3333332c;
}

.articles .holder .card .footer-card h4 {
  font-size: 15px;
  color: var(--main-color-hover);
}

.articles .holder .card .footer-card i {
  color: var(--main-color);
  transform: translateX(-2px);
}

.articles .holder .card:hover i {
  animation: 
    arrow-right-move 
    var(--main-transition) 
    ease 
    infinite 
    alternate;
}

@keyframes arrow-right-move {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(5px);
  }
}

/* end articles */

/* ---------------------------------------------------------------------------------- */

/* start gallery */

.gallery {
  background-color: var(--section-background);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  position: relative;
}

.gallery .container .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 70px;
  padding: 20px;
}

.gallery .container .photos .images{
  position: relative;
  border: 15px solid #ffffff;
  overflow: hidden;
}

.gallery .container .photos .images::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  z-index: 2;
  background-color: #ffffff9d;
}

.gallery .container .photos .images:hover::before {
  animation: flash var(--second-transition) ease normal ;
}

@keyframes flash {
  0% {
  width: 0%;
  height: 0%;
  opacity: 1;
  }

  100% {
  width: 150%;
  height: 150%;
  opacity: 0;
  }
}

.gallery .container .photos img {
  max-width: 100%;
  height: 104%;
  transition: all var(--second-transition) ease;
}

.gallery .container .photos .images:hover > img {
  transform: rotate(6deg) scale(1.2);
}

@media (max-width: 300px) {
  .gallery .container .photos {
    padding: 0;
  }
}

/* end gallery */

/* ----------------------------------------------------------------------------------------- */

/* start features */
.features {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.features .feat-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.features .feat-content .feat-card {
  border: 1px solid #ccc;
  align-items: center;
  background-color: white;
}



.features .feat-content .feat-image img {
  max-width: 100%;
}

.features .feat-content .feat-image {
  max-width: 100%;
  position: relative;
}

.features .feat-content .feat-card .feat-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.features .feat-content .card-one .feat-image::before {
  background-color: hsla(3, 90%, 58%, 0.60);
}
.features .feat-content .card-two .feat-image::before {
  background-color: hsla(174, 100%, 29%, 0.60);
}
.features .feat-content .card-three .feat-image::before {
  background-color:  hsla(199, 98%, 48%, 0.60);
}


.features .feat-content .feat-card .feat-image::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 70%;
  background-color: white;
  clip-path: polygon(-10% 100%, 105% 40%, 100% 105%);
  z-index: 2;
  transition: all var(--second-transition) ease;
}

.features .feat-content .feat-card:hover .feat-image::after {
  clip-path: polygon(0% 100%, 0% 40%, 105% 101%);
}



.features .feat-content .feat-text .feat-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.features .feat-content .feat-text .feat-title h2 {
  width: fit-content;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
  position: relative;
}

.features .feat-content .feat-text .feat-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 6px;
  background-color: #333;
}


.features .feat-content .card-one .feat-text .feat-title h2::before {
  background-color: #f44036;
}
.features .feat-content .card-two .feat-text .feat-title h2::before {
  background-color: #009688;
}
.features .feat-content .card-three .feat-text .feat-title h2::before {
  background-color: #03a9f4;
}


.features .feat-content .feat-text p {
  font-size: 20px;
  color: var(--para-color);
  line-height: 1.6;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 40px;
}

.features .feat-content .feat-text span {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.features .feat-content .feat-card .feat-text span a {
  border-radius: 8px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all var(--second-transition) ease;
}

.features .feat-content .card-one .feat-text span a {
  color: #f44036;
  border: 3px solid #f44036;
}
.features .feat-content .card-two .feat-text span a {
  color: #009688;
  border: 3px solid #009688;
}
.features .feat-content .card-three .feat-text span a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}

.features .feat-content .card-one:hover .feat-text span a {
  color: white;
  background-color: #f44036;
  border: 3px solid #f43f3600;
}
.features .feat-content .card-two:hover .feat-text span a {
  color: white;
  background-color: #009688;
  border: 3px solid #00968700;
}
.features .feat-content .card-three:hover .feat-text span a {
  color: white;
  background-color: #03a9f4;
  border: 3px solid #03a8f400;
}
/* end features */

/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}

.testimonials .container .test-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.testimonials .container .test-box .test-card {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;
  transition: all var(--main-transition) ease;
}

.testimonials .container .test-box .test-card:hover {
  transform: translate(0, -5px);
  background-color: rgb(247, 247, 247);
}

.testimonials .container .test-box .test-card img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: -10px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonials .container .test-box .test-card h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonials .container .test-box .test-card .main-para {
  font-size: 17px;
  color: var(--para-color);
  margin-bottom: 10px;
}

.testimonials .container .test-box .test-card .test-icons {
  margin-bottom: 12px;
}

.testimonials .container .test-box .test-icons .fa-solid {
  color: #ffc107;
}

.testimonials .container .test-box .second-para {
  color: var(--para-color);
  line-height: 1.5;
}






.testimonials .container .test-card:hover .test-icons i {
  animation: star-move 0.5s ease infinite alternate;
  display: inline-block;
}
.testimonials .container .test-card:hover .test-icons i:nth-child(2) {
  animation: star-move 0.5s ease 0.15s infinite alternate;
  display: inline-block;
}
.testimonials .container .test-card:hover .test-icons i:nth-child(3) {
  animation: star-move 0.5s ease 0.3s infinite alternate;
  display: inline-block;
}
.testimonials .container .test-card:hover .test-icons i:nth-child(4) {
  animation: star-move 0.5s ease 0.45s infinite alternate;
  display: inline-block;
}
.testimonials .container .test-card:hover .test-icons i:nth-child(5) {
  animation: star-move 0.5s ease 0.6s infinite alternate;
  display: inline-block;
}

/* .testimonials .container .test-box .test-icons i:nth-child(2) {
  animation-delay: 0.3s;
}
.testimonials .container .test-box .test-icons i:nth-child(3) {
  animation-delay: 0.6s;
}
.testimonials .container .test-box .test-icons i:nth-child(4) {
  animation-delay: 0.9s;
}
.testimonials .container .test-box .test-icons i:nth-child(5) {
  animation-delay: 0.12s;
} */


@keyframes star-move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-4px)
  }
}

/* End Testimonials */